services:
  registrationService:
    image: registration
    build:
      context: .
      dockerfile: Dockerfile
    ports:
        - 8080:8080
    depends_on:
        - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgrez:5432/PetDB
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
  postgres:
    image: postgres
    container_name: PetDB
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 30s
      retries: 3
volumes:
  db_data: {}